.tarefa-box{
    background-color: lightblue;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    gap: 5px;
    align-items: center;
}
.box{
    margin:  30px auto;
    padding: 30px ; 
    border:  2px solid darkblue;
    text-align: center;
    min-width: fit-content;
}
.grid-botoes{
    display: flex;
}
.botao-grid{
 border:  1px solid aqua;   
 margin: 2px;
 cursor:  pointer;
     width: 40px;
    height: 40px;
}